@import url(all.css);

header {
  text-align: center;
}

#app-container {
  overflow: hidden;
}

#page-container {
  margin: 0 auto;
  max-width: 65em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

#dropdown-menu-container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

@media (min-width: 750px) {
  #dropdown-menu-container {
    margin: 0 20rem;
  }
}

label {
  display: flex;
  width: 100%;
  padding: 0.25em 0;
  font-weight: bold;
  font-size: 1.5em;
  color: var(--color-primary);
  justify-content: center;
}

#date-type > * {
  justify-content: flex-start;
}

@media (min-width: 750px) {
  #date-type>* {
    display: inline-block;
    justify-content: none;
    padding: 0 0.5em;
    width: fit-content;
  }
}

#dropdown-menu-container>div#dropdown-counties #county-dropdown-options {
  color: rgb(0, 0, 0);
}

#dropdown-menu-container>div#dropdown-cities #city-dropdown-options {
  color: rgb(0, 0, 0);
}

#radio-buttons-time {
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color: rgb(0, 0, 0);
}

#graph-container {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

#graph-cases {
  background-color: var(--bg-color-primary);
}

footer {
  display: none;
}

#footer-visible {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 40px;
}

#footer-visible p {
  display: flex;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--color-primary);
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0;
}

/* Icon */

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

.icon>.label {
  display: none;
}

.icon:before {
  line-height: inherit;
}

.icon.solid:before {
  font-weight: 900;
}

.icon.brands:before {
  font-family: 'Font Awesome 5 Brands';
  font-size: 3em;
}

.icon.major {
  width: 2.5em;
  height: 2.5em;
  display: block;
  background: transparent;
  border-radius: 100%;
  color: #071108;
  text-align: center;
  line-height: 2.5em;
  margin: 0 0 1.3em 0;
}

/* Icons */

ul.icons {
  cursor: default;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-left: 1em;
}

ul.icons li {
  display: inherit;
  padding: 0 0.75em 0 0;
}

ul.icons li a {
  padding: 0 0.25em 0 0.25em;
  display: flex; 
  align-items: center;
  justify-content: stretch;
  font-family: 'Font Awesome 5 Brands';
  font-size: 2em;
}

ul.icons li:last-child {
  padding-right: 0;
}

ul.icons li>a,
ul.icons li>span {
  border: 0;
}

ul.icons li>a .label,
ul.icons li>span .label {
  display: none;
}